<div class="container">
  <div *ngIf="showEnablePreviewBtn">
    <button class="view-buttons" (click)="enablePreview()">
      Enable Preview
    </button>
  </div>

  <div *ngIf="showDisablePreviewBtn">
    <button class="view-buttons" (click)="disablePreview()">
      Disable Preview
    </button>
  </div>
</div>

<form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
  <div class="input-container">
    <input
      type="text"
      id="one"
      formControlName="title"
      placeholder="Enter Title ..."
    />
    <input type="text" id="two" formControlName="date" readonly />
  </div>

  <div class="no-preview-layout">
    <angular-editor
      *ngIf="showNoPreviewEditor"
      formControlName="content"
      [config]="noPreview"
      class="no-preview-editor"
    ></angular-editor>
  </div>

  <div class="preview-layout">
    <angular-editor
      *ngIf="showPreviewEditor"
      formControlName="content"
      [config]="previewEnable"
      class="preview-editor"
    ></angular-editor>

    <div class="preview-box" *ngIf="showPreviewEditor">
      <div>
        <p id="journaTitle">{{ journaTitle }}</p>
        <p id="journalDate">{{ journalDate }}</p>
      </div>
      <div id="content-box" [innerHTML]="previewContent"></div>
    </div>
  </div>
  <div class="fixed-button">
    <button id="submit-button" type="submit">Submit</button>
  </div>
</form>
