<div class="container">
  <div *ngIf="showEnablePreviewBtn">
    <button class="view-buttons" (click)="enablePreview()">
      Enable Preview
    </button>
  </div>

  <div *ngIf="showDisablePreviewBtn">
    <button class="view-buttons" (click)="disablePreview()">
      Disable Preview
    </button>
  </div>
</div>

<form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
  <button type="submit">Submit</button>
  <div class="input-container">
    <input type="text" formControlName="title" placeholder="Enter Title ..." />
    <input type="text" formControlName="date" readonly />
  </div>
  <div class="no-preview-layout">
    <angular-editor
      *ngIf="showNoPreviewEditor"
      formControlName="content"
      [config]="noPreview"
      class="no-preview-editor"
    ></angular-editor>
  </div>

  <div class="preview-layout">
    <angular-editor
      *ngIf="showPreviewEditor"
      formControlName="content"
      [config]="previewEnable"
      class="preview-editor"
    ></angular-editor>

    <div
      *ngIf="showPreviewEditor"
      class="preview-box"
      [innerHTML]="previewContent"
    ></div>
  </div>
</form>
